# Parameters ROMS

# start date 

  year_start :
  month_start :
  day_start :

# period of data

  period :

# Time step integration

  time_step :

# path to dir of ROMS files

  pathroms :

# File of initial positions

  iptfile :